{% extends 'listings/base.html' %}

{% block title %}Créer une critique{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        {% if ticket %}
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">Ticket - {{ ticket.user.username }}</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ ticket.title }}</h5>
                <p class="card-text">{{ ticket.description }}</p>
                {% if ticket.image %}
                <img src="{{ ticket.image.url }}" class="img-fluid mb-3" alt="{{ ticket.title }}">
                {% endif %}
            </div>
        </div>
        {% endif %}

        <div class="card">
            <div class="card-header">
                <h2 class="text-center">{% if ticket %}Créer une critique{% else %}Créer une critique et un ticket{% endif %}</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if not ticket %}
                    <h3>Livre/Article</h3>
                    {% for field in ticket_form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <hr>
                    {% endif %}

                    <h3>Critique</h3>
                    {% for field in review_form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Publier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 